<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Vue: Pixel Art</title>
    <link href="/styles/slider.css" rel="stylesheet" type="text/css" />
    <link href="/styles/style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Raleway:wght@400;500;600;700&family=Numans&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎨</text></svg>" />
    <!-- <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.0.0-rc.5/dist/html2canvas.min.js"></script> -->
    <!-- <script src="/scripts/html2canvas.js"></script> -->
  </head>
  <body>
    <div id="app" class="fade-in">

      <main class="container shadow" ref="container">
        <h2>Pixel Art</h2>
        <grid 
          :initialblocksize="Number(26)"
        />
      </main>
      
      <footer class="footer">&copy; Copyright <span class="this-year">2022</span> <a href="https://rolandlevy.co.uk" target="_blank" class="new-tab-icon">see more of my projects</a></footer>
    </div>

    <template id="grid-template">
      <article :style="{
        'height': `${gridsize * blocksize + 210}px`
        }">
        <section>
          <span>Grid width</span> 
          <input 
            type="number"
            :value="tempGridSize"
            @keyup="updateGridsize"
            @click="updateGridsize"
            :placeholder="`1-${maxGridsize}`"
            min="1"
            :max="maxGridsize"
            maxlength="4"
            required
            size="12"
          />
          <button class="btn m-l-5" @click="createGrid" :disabled="!tempGridSize">Update</button>
        </section>
        <section class="slidecontainer">
          <div class="m-b-10">Block size: {{blocksize}}px</div>
          <input 
            type="range" 
            min="10" 
            max="40" 
            step="1"
            v-model="blocksize"
            class="slider" 
            id="myRange"
          />
        </section>
        <section>
          <button class="btn" @click="fillGrid">Fill</button>
          <button class="btn m-l-5" @click="shuffleGrid">Shuffle</button>
          <button class="btn m-l-5" @click="resetGrid">Reset</button>
          <!-- <button class="btn m-l-5" @click="downloadImage">Download</button> -->
          <button class="btn hidden" @click="outputGrid">Output</button>
        </section>
        <section class="m-tb-20">
          <span 
            v-for="(col, index) of colours" 
            class="col"
            @click="chooseColour(col)"
            :style="{
              'opacity':`${getOpacity(col)}`,
              'background-color':`${col === '#ffffff' ? '#f3f3f3' : col}`,
              'border-color':`${getBorderColour(col)}`
            }"></span>
        </section>
        <!-- <div id="download-capture">
          <img src="sunset.png" />
        </div> -->
        <div style="position:relative;float:left;">
          <section id="download-capture" class="grid-wrapper" :style="{
            'width': `${(gridsize * blocksize)}px`,
            'height': `${(gridsize * blocksize)}px`,
            'top': '5px',
            'left': 0,
            'position':'absolute'
            }">
            <div 
              v-if="blocks.length"
              v-for="(block, index) of blocks" 
              :key="block.id" 
              class="block center-hv"
              :class="{'selected': block.selected }"
              :style="{
                'left': `${getLeft(index)}px`, 
                'top': `${getTop(index)}px`,
                'background-color': `${block.col}`,
                '--block-size': `${blocksize}px`
              }"
              @mousedown="doMouseDown(block)"
              @mouseup="doMouseUp(block)"
              @mouseover="doMouseOver(block)"
              @mouseleave="doMouseLeave(block)"
            >
            </div>  
          </section>
        </div>
      </article>
    </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/scripts/vue.js" defer></script>

  </body>
</html>