<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vue: grid experiment, drag / draw</title>
    <link href="slider.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">

      <h3>Drawing grid</h3>
      <grid 
        :gridsize="Number(15)"
        :initialblocksize="Number(15)"
      />
    </div>

    <template id="grid-template">
      <article :style="{'height': `${gridsize * blocksize + 125}px`}">
        <input 
            type="number" 
            :value="gridsize" 
            @keyup.enter="createGrid" 
            placeholder="Enter grid size..."
            min="1"
            max="100"
            maxlength="3"
          >
          <button @click="resetGrid">Reset</button>
          <button @click="shuffleGrid">Shuffle</button>
          <section class="slidecontainer">
            <input 
              type="range" 
              min="10" 
              max="200" 
              step="1"
              v-model="blocksize"
              class="slider" 
              id="myRange"
            >
          </section>
          <section>
            <span 
              v-for="(col, index) of colours" 
              class="col"
              @click="chooseColour(col)"
              :style="{
                'opacity':`${getOpacity(col)}`,
                'background-color':`${col}`,
                'border-color':`${getBorderColour(col)}`
              }"></span>
          </section>
          <section class="grid-wrapper">
            <div 
              v-if="blocks.length"
              v-for="(block, index) of blocks" 
              :key="block.id" 
              class="block center-hv"
              :class="{'selected': block.selected }"
              :style="{
                'left': `${getLeft(index)}px`, 
                'top': `${getTop(index)}px`,
                'background-color': `${block.col}`,
                '--block-size': `${blocksize}px`
              }"
              @mousedown="doMouseDown(block)"
              @mouseup="doMouseUp(block)"
              @mouseover="doMouseOver(block)"
              @mouseleave="doMouseLeave(block)"
            >
            </div>  
            <!-- <pre>
              <code>
                display: {{display}}
              </code>
            </pre> -->
          </section>
        </div>
      </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="script.js"></script>
  </body>
</html>