<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Vue: pixel grid draw experiment</title>
    <link href="slider.css" rel="stylesheet" type="text/css" />
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Raleway:wght@400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div id="app">

      <main class="container">
        <h2>Pixel Grid Draw</h2>
        <grid 
          :initialblocksize="Number(20)"
        />
      </main>

    </div>

    <template id="grid-template">
      <article :style="{
        'height': `${gridsize * blocksize + 210}px`
        }">
        <section>
          <span>Grid width</span> 
          <input 
              type="number"
              :value="tempGridSize"
              @keyup="updateGridsize"
              @click="updateGridsize"
              :placeholder="`1-${maxGridsize}`"
              min="1"
              :max="maxGridsize"
              maxlength="4"
              required
              size="12"
            >
          <button class="btn m-l-5" @click="createGrid" :disabled="!tempGridSize">Update</button>
          </section>
          <section class="slidecontainer">
            <div class="m-b-10">Block size: {{blocksize}}px</div>
            <input 
              type="range" 
              min="10" 
              max="40" 
              step="1"
              v-model="blocksize"
              class="slider" 
              id="myRange"
            >
          </section>
          <section>
            <button class="btn" @click="fillGrid">Fill</button>
            <button class="btn m-l-5" @click="shuffleGrid">Shuffle</button>
            <button class="btn m-l-5" @click="resetGrid">Reset</button>
            <button class="btn hidden" @click="outputGrid">Output</button>
          </section>
          <section class="m-tb-20">
            <span 
              v-for="(col, index) of colours" 
              class="col"
              @click="chooseColour(col)"
              :style="{
                'opacity':`${getOpacity(col)}`,
                'background-color':`${col}`,
                'border-color':`${getBorderColour(col)}`
              }"></span>
          </section>
          <section class="grid-wrapper" :style="{
            'width': `${gridsize * blocksize}px`
            }">
            <div 
              v-if="blocks.length"
              v-for="(block, index) of blocks" 
              :key="block.id" 
              class="block center-hv"
              :class="{'selected': block.selected }"
              :style="{
                'left': `${getLeft(index)}px`, 
                'top': `${getTop(index)}px`,
                'background-color': `${block.col}`,
                '--block-size': `${blocksize}px`
              }"
              @mousedown="doMouseDown(block)"
              @mouseup="doMouseUp(block)"
              @mouseover="doMouseOver(block)"
              @mouseleave="doMouseLeave(block)"
            >
            </div>  
          </section>
        </div>
      </template>
    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="script.js"></script>
  </body>
</html>