body {
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #eee;
  font-size: 14px;
}

.container {
  width: fit-content;
  height: fit-content; 
  margin: 0 auto;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -15px #00000033;
}

.grid-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content; 
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
  background: linear-gradient(90deg,#ffa63d,#ff3d77,#b933f9,#5f19dd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 150%;
  font-family: 'Dancing Script', cursive;
}

.col {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0.8;
  border: 3px solid #fff;
}

.col:hover {
  opacity: 1;
  border: 3px solid #333;
}

input {
  padding: 5px 8px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  width: 3rem;
}

.block {
  position: absolute;
  width: var(--block-size);
  min-width: 10px;
  height: var(--block-size);
  min-height: 10px;
  background-color: #ddd; 
  border: 1px solid #999;
  display: inline-block;
  color: #fff;
  cursor: crosshair;
  font-size: calc(var(--block-size) / 3.3);
}

.block.selected {
  /* background-color: #eee; */
  /* color: #000; */
  /* -webkit-transition: 0.2s;
  transition: all 0.2s; */
}

.block {
  opacity: 1;
}

.block:hover {
  /* opacity: 0.8; */
}

.hidden {
  display: none;
}

.center-hv {
  display: table;
}

.center-hv > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 5px;
  cursor: pointer;
  background: #f9f9f9;
  transition: all 0.2s ease;
}

.btn:disabled {
  cursor: not-allowed;
} 

.btn:not(:disabled):hover {
  background: #ffffff;
  transition: all 0.2s ease;
}

.m-tb-20, .m-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}