html {
  touch-action: manipulation;
}

body {
  margin: 20px;
  background-color: #eee;
  font-size: 14px;
  box-sizing: border-box;
  overflow: hidden;
}

body, input, button {
  font-family: 'Numans', sans-serif;
  letter-spacing: 0.5px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
}

.container {
  width: fit-content;
  height: fit-content; 
  /* margin: 0 auto; */
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 5px;
  /* box-shadow: 0 15px 15px -15px #00000033; */
}

.fade-in {
  animation: fade-in-animation 1s ease-in;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

@keyframes fade-in-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* #download-capture {
  width: 100% !important; 
  height: 100% !important;
  margin: 0;
  padding: 0;
  left: 0;
  background-color: grey;
} */

.grid-wrapper {
  position: relative;
  width: fit-content;
  height: fit-content; 
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

h2 {
  font-size: 3rem;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 10px;
  background: linear-gradient(90deg,#ffa63d,#ff3d77,#b933f9,#5f19dd);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 150%;
  /* font-family: 'Dancing Script', cursive; */
  font-family: 'VT323', monospace;
}

.col {
  display: inline-block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  opacity: 0.8;
  border: 3px solid #fff;
}

input {
  padding: 5px 8px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  width: 3rem;
}

.block {
  position: absolute;
  width: var(--block-size);
  min-width: 10px;
  height: var(--block-size);
  min-height: 10px;
  background-color: #ddd; 
  border: 1px solid #aaa;
  display: inline-block;
  color: #fff;
  cursor: crosshair;
  font-size: calc(var(--block-size) / 3.3);
}

.block.selected {
  /* background-color: #eee; */
  /* color: #000; */
  /* -webkit-transition: 0.2s;
  transition: all 0.2s; */
}

.block {
  opacity: 1;
}

.block:hover {
  /* opacity: 0.8; */
}

.hidden {
  display: none;
}

.center-hv {
  display: table;
}

.center-hv > div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.btn {
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid #eee;
  cursor: pointer;
  background: #f6f6f6;
  transition: all 0.2s ease;
}

.btn:disabled {
  cursor: not-allowed;
} 

.btn:not(:disabled):hover {
  background: #e9e9e9;
  box-shadow: 0 5px 5px -5px #00000099;
  transition: all 0.2s ease;
  transform: translateY(-1px);
}

.shadow {
  box-shadow: 0 1px 1px -10px rgba(0,0,0,0.15), 
              0 2px 2px -10px rgba(0,0,0,0.15), 
              0 4px 4px -10px rgba(0,0,0,0.15), 
              0 8px 8px -10px rgba(0,0,0,0.15),
              0 16px 16px -10px rgba(0,0,0,0.15);
}

.footer {
  font-size: 1rem;
  text-align: center;
  padding: 40px 0 20px 0;
  color: #666;
}

.footer > a {
  color: #d46989;
}

.footer > a:hover {
  color: #ff3d77;
}

.new-tab-icon::after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f35d";
  margin-left: 5px;
  font-size: 1rem;
}

.m-tb-20, .m-bt-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-5 {
  margin-left: 5px;
}